<nav id="header-bar">
    <a href="/" id="brand"><img src="/images/brand.png" alt="Could not load image" style="width: 130px; height: 60px;"></a>
    <a class="link" href="/howItWorks">How it Works</a>
    <a class="link" href="/pricing">Pricing</a>
    <a class="link" href="/contact">Contact</a>
    <%if (login){%>
    <a href="/users/logout" class="btn" id="login-button">Logout</a>
    <%}else{%>
    <a href="/users/login" class="btn" id="login-button">Login</a>
    <%}%>
</nav>