<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/dash.css' />
</head>
<body>
<header>
    <% include ../partials/navbar%>
</header>

<div id="middle-box">

</div>
</body>
</html>
