<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/dash.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script>
    function openTab(tabName) {
    var i;
    var x = document.getElementsByClassName("w3-container city w3-animate-left");
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    }
    document.getElementById(tabName).style.display = "block";
    }
    </script>

</head>
<body>
<header>
    <% include ../partials/navbar%>
</header>

<h1>Dashboard</h1>

<div id="tab-bar" class="w3-bar">
    <button class="w3-bar-item w3-button" onclick="openTab('upload')">Upload an Essay</button>
    <button class="w3-bar-item w3-button" onclick="openTab('uploaded')">Your Uploaded Essays</button>
    <button class="w3-bar-item w3-button" onclick="openTab('review')">Review</button>
</div>

<div id="upload" class="w3-container city w3-animate-left">
    <h2>Upload an Essay</h2>
    <div id="inner-left-box">
        <form action='/files/uploadFile' method='post' encType="multipart/form-data">
            Essay Name: <input type="text" name="essayName"><br>
            Topic: <input type="text" name="topic"><br>
            Page Length: <input type="text" name="pageLength" style="width: 30px;"> <br>
            Prompt: <input type="text" name="prompt"> <br><br>
            Priority: <input type="number" name="priority"> <br><br>
            Reward: <input type="number" name="reward"> <br><br>
            Department: <input type="text" name="classPrefix"> <br><br>
            CourseID: <input type="number" name="classNumber"> <br><br>
            Due Date: <input type="number" name="month"> | <input type="number" name="day"> | <input type="number" name="year"> <br><br>

            <input type="file" name="file" accept="">
            <input type="submit" class="blue-btn" value="Upload">
        </form>
    </div>
</div>
<div id="uploaded" class="w3-container city w3-animate-left" style="display:none">
    <h2>Paris</h2>
    <p>Paris is the capital of France.</p>
</div>

<div id="review" class="w3-container city w3-animate-left" style="display:none">
    <h2>Tokyo</h2>
    <p>Tokyo is the capital of Japan.</p>
</div>

<div id="side-box">
</div>
</body>
</html>
