<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/dash.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script>
    function openTab(evt, tabName) {
    var i;
    var x = document.getElementsByClassName("tab-area");
    for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
    }

    var tablinks = document.getElementsByClassName("tab-link");
        for(var k = 0; k < tablinks.length; k++){
        tablinks[k].className = tablinks[k].className.replace(" highlight", "");
    }

    evt.currentTarget.className += " highlight";
    document.getElementById(tabName).style.display = "block";

    }
    </script>

</head>
<body>
<header>
    <% include ../partials/navbar%>
</header>

<div id="tab-side">
    <button class="blue-btn" id="upload-btn">Upload</button> <br>
    <div id="side-links">
        <div class="side-link-bg side-highlight">
        <a>Essays in progress</a>
        </div>
        <div class="side-link-bg" style="margin-top: 3px">
            <a>Reviewed Essays</a>
        </div>
    </div>
</div>

<div id="tab-section">
    <div id="tab-bar" class="w3-bar">
        <button name="uploaded" class="tab-link highlight" onclick="openTab(event, 'uploaded')">Uploaded</button>
        <button name="upload" class="tab-link" onclick="openTab(event, 'upload')">Upload</button>
        <button name="review" class="tab-link" onclick="openTab(event, 'review')">Review</button>
    </div>

    <div id="uploaded" class="w3-container tab-area w3-animate-right">
        <h1>Essays in Progress</h1>
        <%for(var i =0; i < essayArray.length; i++){ %>
            <div class="essay-box" style="float: left;">
                <h4><%=essayArray[i].title%></h4>


                <a href="/files/downloadFile?fileId=<%= essayArray[i].fileId %>">
                    <img src='/images/essay_stockPhoto.png' height="200" width="150" >
                </a>
                <br>
                <%=essayArray[i].status%>
                <br>
                <%=essayArray[i].subject%>
            </div>
        <%}%>
    </div>

    <div id="upload" class="w3-container tab-area  w3-animate-right" style="display:none">
        <h2>Upload an Essay</h2>
        <div id="inner-left-box">
            <form action='/files/uploadFile' method='post' encType="multipart/form-data">
                Essay Name: <input type="text" name="essayName"><br>
                Topic: <input type="text" name="topic"><br>
                Page Length: <input type="text" name="pageLength" style="width: 30px;"> <br>
                Prompt: <input type="text" name="prompt"> <br>
                Priority: <input type="number" name="priority"> <br>
                Reward: <input type="number" name="reward"> <br>
                Department: <input type="text" name="classPrefix"> <br>
                CourseID: <input type="number" name="classNumber"> <br>
                Due Date: <input type="number" name="month"> | <input type="number" name="day"> | <input type="number" name="year"> <br>

                <input type="file" name="file" accept="">
                <input type="submit" class="blue-btn" value="Upload">
            </form>
        </div>
    </div>

    <div id="review" class="w3-container tab-area w3-animate-right" style="display:none">
        <h1>Review Center</h1>
    </div>

    <div id="side-box">
    </div>
</div>

</body>
</html>
