<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/dash.css' />
</head>
<body>
<header>
    <% include ../partials/navbar%>
</header>

<div id="middle-box">
    <h2>Upload an essay for review</h2>
    <form action="dash/upload">
        <input type="file" name="essay" accept="">
        <input type="submit" class="blue-btn" value="Upload">
    </form>
</div>

<div id="side-box">
</div>
</body>
</html>
