<!DOCTYPE html>
<html>
<head>
    <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/home.css' />
</head>
<body>
<header>
    <% include ../partials/navbar%>
</header>

<div id="middle-box">
    <h1>Log In</h1>
    <p>Please log in</p>
    <div id="inner-box">
        <form name="signup-form" action="/home" method="POST">
            Email: <input name="email-field" type="text" class="field"><br>
            Password: <input name="password-fireld" type="password" class="field"><br> <br>
            <input class="submt-in-button" type="submit" value="Login" onclick=""><br>
        </form>
    </div>
    <p>Don't have an account? <a href="signup" style="text-decoration: underline;">Sign up</a></p>
</div>
</body>
</html>
