<!DOCTYPE html>
<html>
  <head>
      <%include ../partials/head%>

    <link rel='stylesheet' href='/stylesheets/index.css' />
  </head>
  <body>
  <header>
    <% include ../partials/navbar%>
  </header>
    <div id="blurb" style="z-index: 10;">
      <p>Writing is hard enough.<br>Getting feedback shouldn't have to be.<br>Get your essay reviewed today!</p><br>
      <a id="signup-button" href="/users/signup" >Sign Up</a>
    </div>
    <div id="graphic">
      <img id="landing-img"src="/images/landing.png" alt="Image could not be loaded">
    </div>
  </body>
</html>
