<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <iframe src="https://docs.google.com/document/d/1y3ZY7nhYbKgjgVyniDAXvvyQjT7SbsZSHA1luYLU3AY/pub?embedded=true&usp=sharing&widget=true"></iframe>
    <iframe src=”https://docs.google.com/document/d/1y3ZY7nhYbKgjgVyniDAXvvyQjT7SbsZSHA1luYLU3AY/edit?usp=sharing&widget=true”><p>WHAT</p></iframe>
    <iframe height=”620” align=”middle” width=”100%” border=”0” src=”https://docs.google.com/document/d/1y3ZY7nhYbKgjgVyniDAXvvyQjT7SbsZSHA1luYLU3AY/edit?usp=sharing”></iframe>  </body>
</html>
