<!DOCTYPE html>
<html>
<head>
    <title>Peerval</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Signup</h1>
<p>Please sign up</p>
<form name>
    First Name: <input> <br />
    Last Name: <input> <br />
    Username: <input> <br />
    Password: <input> <br />
    Confirm Password: <input> <br /> <br />
    Would you like to apply to be a reviewer? <input> <br />
</form>
</body>
</html>
