<!DOCTYPE html>
<html>
<head>
    <title>Peerval</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/signup.css' />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />

    <script>
        function validate() {
            window.location.href = "localhost:3000/users";

//            var http = require('http');
//
//            var options = {
//                host: 'localhost',
//                port: '3000',
//                path: '/signup/signupUser',
//                method: 'POST',
//                headers: {
//                    'Content-Type': 'application/x-www-form-urlencoded',
//                    'Content-Length': post_data.length
//                }
//            };
//
//            var req = http.request(options, function (res) {
//                // response is here
//                if (res.responseText.trim().length > 0) {
//                    //if there was an error, display error message in error div
//                    document.getElementById("error-message").innerHTML = res.responseText;
//                    return false;
//                } else {
//                    //otherwise redirect to user home page
//                    window.location.href = path + "/home";
//                }
//            });
//            return false;
        }
    </script>

</head>
<body>
<nav id="header-bar">
    <a href="/" id="brand">peerval</a>
    <a class="link" href="howItWorks.ejs">How it Works</a>
    <a class="link" href="pricing.ejs">Pricing</a>
    <a class="link" href="contact.ejs">Contact</a>
    <a href="login" class="btn" id="login-button">Login</a>
</nav>

<div id="middle-box">
    <h1>Signup</h1>
    <p>Already have an account? <a style="text-decoration: underline;" href="login">Login</a></p>
    <div id="inner-box">
        <form name="signup-form" action="/signup/signupUser" method="POST">
            *First Name: <input name="fname" type="text" class="field"> <br />
            *Last Name: <input name="lname" type="text" class="field"> <br />
            *Email: <input name="email" type="text" class="field"> <br />
            *Password: <input name="password" type="password" class="field"> <br />
            *Confirm Password: <input name="confirm-password" type="password" class="field"> <br />
            *University: <select name="university" type="select" class="field"> <br>
                <option value="default" selected="selected"></option>
                <option value="USC">USC</option>
                <option value="UCLA">UCLA</option>
                <option value="LMU">LMU</option>
                <option value="CSUN">CSUN</option>
            </select><br>
            *Major: <select name="major" class="field">
                <option value="default" selected="selected"></option>
                <option value="engineering">Engineering</option>
                <option value="social-sciences">Social Sciences</option>
                <option value="business">Business</option>
                <option value="physical-sciences">Physical Sciences</option>
                <option value="music">Music</option>
                <option value="art">Art</option>
                <option value="cinematic-arts">Cinematic Arts</option>
            </select><br />
            *Class Year: <select name="year" class="field"> <br />
                <option value="default" selected="selected"></option>
                <option value="Freshman">Freshman</option>
                <option value="Sophomore">Sophomore</option>
                <option value="Junior">Junior</option>
                <option value="Senior">Senior</option>
            </select> <br>
            Phone number: <input name="phone" type="text" class="field"> <br /> <br />

            <input type="checkbox" name="type" value="reviewer" checked="checked"> I would like to be considered to be a reviewer<br> <br />
            <input class="submt-in-button" type="submit" value="Sign Up" onclick="validate();">
            <div id="error-message"></div>
        </form>
    </div>
</div>
</body>
</html>
