
#blurb{
    position: absolute;
    top: 190px;
    left: 150px;
}
#blurb p{
    font-size: 30px;
}

#signup-button{
    background: #375d9d;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    padding: 10px 50px 10px 50px;
    font-family: Quicksand;
    font-size: 20px;
    text-decoration: none;
}
#signup-button:hover{
    background: #ffffff;
    text-decoration: none;
    color: #375d9d;
}


#graphic{
    position: absolute;
    top: 80px;
    right: 20px;
    left: 20px;
}