body{
    /*background: url(/images/landing.png) no-repeat center center fixed;*/
    padding-right: 0;
    padding-left: 0;
    background-color: #ff8189;
}

#blurb{
    position: absolute;
    top: 20%;
    left: 60px;
}
#blurb p{
    font-size: 30px;
}

#signup-button{
    background: #375d9d;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    padding: 10px 50px 10px 50px;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    text-decoration: none;
}
#signup-button:hover{
    background: #ffffff;
    text-decoration: none;
    color: #375d9d;
}


#graphic{
    position: relative;
    height: calc(100vh - 105px);
    width: 100%;
    margin-right: -20px;
    margin-left: -20px;
}

#landing-img{
    width: 100%;
    z-index: -5;
    overflow: hidden;
}