
#middle-box{
    border-radius: 25px;
    border: 1px solid white;
    width: 700px;
    height: auto;
    /*background-color: rgb(255, 160, 143);*/
    text-align: center;
    align-items: center;
    position: relative;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}



form * {
    padding: 3px;
    margin: 5px;
}